# Logs
logs/
*.log
npm-debug.log*

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/

# dotenv environment variable files
.env
.env.*
!.env.example

# Coverage
coverage/
*.lcov
.nyc_output/

# npm cache
.npm

# Optional REPL history
.node_repl_history

# npm pack output
*.tgz

# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/
